@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.warning {
  color: rgb(246, 28, 28);
  font-size: 30px;
}

.App {
  background-image: url("./images/background.png");
  text-align: center;
  background-size: 100%;
}

.AppBuy {
  background-image: url("./images/background.png");
  background-size: 100%;
  height: 1800px;
  max-height: 1800px;
  text-align: center;
  padding: 100px 250px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loadingText {
  padding: 40px 0px 0px 0px;
  font-size: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  /*background-color: #282c34; */
}

.Container {
  /*background-color: rgba(225, 217, 217, 0.6); */
  background-color: rgba(176, 171, 171, 0.7);
  height: 80vh;
  max-height: 80vh;
  width: 150vh;
  max-width: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border: 5px solid rgb(113, 113, 113);
  border-radius: 40px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ContainerBuy {
  /*background-color: rgba(225, 217, 217, 0.6); */
  background-color: rgba(176, 171, 171, 0.7);
  height: 141vh;
  max-height: 141vh;
  width: 150vh;
  max-width: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border: 5px solid rgb(113, 113, 113);
  border-radius: 40px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.LotteryLogo {
  height: 80px;
  max-height: 80px;
  justify-content: center;
  font-size: calc(40px + 4vmin);
  display: flex;
  font-family: "Neucha"
}

.LotteryLogo01 {
  font-size: 100px;
  color: rgb(187, 7, 187);
  margin: -40px 10px;
}

.LotteryLogo02 {
  font-size: 100px;
  color: yellow;
  margin: -40px 10px;
}

.LotteryInfo {
  font-size: 50px;
  display: flex;
  padding: 10px;
}

.LotteryInfoComponent {
  padding: 70px;
  font-family: "Neucha"
}

.Loader {
  color: royalblue;
}

.ConnectButton {
  background-color:rgb(9, 101, 187);
  padding: 20px 60px;
  font-size: 25px;
  border-radius: 30px;
}

.Loader {
  color: royalblue;
}

table {
  border-collapse:collapse;
  width: 100%;
}

th,
td {
  border: 3px solid #ffffff;
  text-align: center;
  padding: 10px 30px;
  font-size: 40px;
  font-family: "Neucha"

}

.submitTicketBtn {
  background-color: lime;
  color: white;
  font-size: 30px;
  font-family: "Neucha";
  padding: 0px 30px;
  border-radius: 10px;
}

.submitedTicketBtn {
  background-color: lightgreen;
  color: white;
  font-size: 30px;
  font-family: "Neucha";
  padding: 0px 20px;
  border-radius: 10px;
}

.notWinningStatus {
  background-color: rgb(194, 54, 54);
  color: white;
  font-size: 30px;
  font-family: "Neucha";
  padding: 0px 10px;
  margin: 3px 0px;
  border-radius: 10px;
}

.activeStatus {
  background-color: lightgreen;
  color: white;
  font-size: 30px;
  font-family: "Neucha";
  padding: 0px 30px;
  margin: 3px 5px;
  border-radius: 10px;
}

.submitTicketBtn:hover {
  background-color: limegreen;

}

.infoNumbersBtn {
  font-size: 40px;
  padding: 5px 25px;
  border-radius: 20px;
  background-color:limegreen;
}

.infoNumbersBtn:hover {
  transform: scale(1.03,1.05);
}

.GenerateNumbersText {
  padding: 30px 0px 50px 0px;
  font-size:50px;
  font-family: "Neucha";
}

.TicketWindow {
  display:flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
  border: 5px solid rgb(113, 113, 113);
  border-radius: 25px;
  color: black;
  font-family: "Neucha";
  width: 800px;
  max-width: 800px;
  height: 280px;
  max-height: 280px;
}

.TicketBody {
  display:flex;
  flex-direction: grid;
  justify-content: space-between;
  font-size: 35px;
}

.Numbers_Date {
  display: flex;
  width: 620px;
  max-width: 620px;
  padding: 0px 10px;
  justify-content: space-around;
}

.TicketNumbers{

}

.TicketsTop {
  border-bottom: 5px solid rgb(113, 113, 113);
}

.EmptySpace {
  height: 20px;
  max-height: 20px;
}

.ListRow {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  

}
